In [12]:
import stock_object 
import stock_price_extraction as spe
import balance_sheet_extraction as ble 
import income_statement_extraction as ise
import share_holders_extraction as she
import cashflow_extraction as ce
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

In [21]:
nse_company_file = 'C:\\Users\\shiva.reddy\\Personal_Projects\\NSE_Analysis\\NSE_Analysis\\NSE_Project\Input\\NSE_Listed_Companies_SectorWise_Sample.csv'
df_nse = pd.read_csv(nse_company_file,sep='~')



# Consolidation DataFrames declaration
df_final_stock_prices_consolidation = pd.DataFrame()

df_final_bs_yearly_consolidation = pd.DataFrame()
df_final_bs_quarterly_consolidation = pd.DataFrame()

df_final_is_yearly_consolidation = pd.DataFrame()
df_final_is_quarterly_consolidation = pd.DataFrame()

df_final_cf_yearly_consolidation = pd.DataFrame()
df_final_cf_quarterly_consolidation = pd.DataFrame()

for index ,row in df_nse.iterrows():
    print(row)
    print('Company : ',row['Ticker'])
    stock = stock_object.Stock(row['nse_ticker'])
    stock_obj = stock.getStockObject()

    # price history
    print('Price History: ')
    stock_price_obj = spe.StockPriceExtraction(stock_obj , row['Ticker'])
    df_stock_price_company_wise = stock_price_obj.getPriceHistory()
    df_final_stock_prices_consolidation = pd.concat([df_final_stock_prices_consolidation,df_stock_price_company_wise],ignore_index=True)
    
    # balance sheet
    balance_sheet_obj =  ble.BalanceSheetExtraction(stock_obj,row['Ticker'])
    df_balance_sheet_quartely = balance_sheet_obj.getBalanceSheetQuarterly()
    df_balance_sheet_yearly =  balance_sheet_obj.getBalanceSheetYearly()
    df_final_bs_yearly_consolidation= pd.concat([df_final_bs_yearly_consolidation,df_balance_sheet_yearly])
    df_final_bs_quarterly_consolidation = pd.concat([df_final_bs_quarterly_consolidation,df_balance_sheet_quartely])



    # income statement
    income_stmt_obj  = ise.IncomeStatementExtraction(stock_obj,row['Ticker'])
    df_income_stmt_yearly = income_stmt_obj.getIncomeStatementYearly()
    df_income_stmt_quarterly = income_stmt_obj.getIncomeStatementQuarterly()
    df_final_is_yearly_consolidation=pd.concat([df_final_is_yearly_consolidation,df_income_stmt_yearly])
    df_final_is_quarterly_consolidation=pd.concat([df_final_is_quarterly_consolidation,df_income_stmt_quarterly])




    # cashflow
    cashflow_obj =  ce.CashFlowExtraction(stock_obj,row['Ticker'])
    df_cashflow_yearly =  cashflow_obj.getCashFlowYearly()
    df_cashflow_quarterly =  cashflow_obj.getCashFlowQuarterly()
    df_final_cf_yearly_consolidation=pd.concat([df_final_cf_yearly_consolidation,df_cashflow_yearly])
    df_final_cf_quarterly_consolidation=pd.concat([df_final_cf_quarterly_consolidation,df_cashflow_quarterly])



    # All Listed companies- Day level Price information of the stock consolidation
    # df_final_stock_prices = pd.concat([df_final_stock_prices,df_stock_price_company_wise],ignore_index=True)

Ticker                                      LTIM
Description                      LTIMINDTREE LTD
Sector                       Commercial Services
Industry       Miscellaneous Commercial Services
Exchange                                     NSE
nse_ticker                               LTIM.NS
Name: 0, dtype: object
Company :  LTIM
Price History:
Ticker                    KPITTECH
Description      KPIT TECHNOLOGIES
Sector         Technology Services
Industry         Packaged Software
Exchange                       NSE
nse_ticker             KPITTECH.NS
Name: 1, dtype: object
Company :  KPITTECH
Price History:
Ticker                           HDFC
Description         HOUSING DEVEL FIN
Sector                        Finance
Industry       Finance/Rental/Leasing
Exchange                          NSE
nse_ticker                    HDFC.NS
Name: 2, dtype: object
Company :  HDFC
Price History:
Ticker                          APOLLOHOSP
Description              APOLLO HOSPITALS.
Sector                     Health Services
Industry       Hospital/Nursing Management
Exchange                               NSE
nse_ticker                   APOLLOHOSP.NS
Name: 3, dtype: object
Company :  APOLLOHOSP
Price History:
Ticker                     DMART
Description    AVENUE SUPERMARTS
Sector              Retail Trade
Industry        Specialty Stores
Exchange                     NSE
nse_ticker              DMART.NS
Name: 4, dtype: object
Company :  DMART
Price History:

In [22]:
df_final_stock_prices_consolidation.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
0,2021-01-01 00:00:00+05:30,3530.135617,3623.196726,3503.125730,3574.878418,285207,0.0,0.0,LTIM
1,2021-01-04 00:00:00+05:30,3604.158996,3778.394610,3584.686578,3716.015869,373949,0.0,0.0,LTIM
2,2021-01-05 00:00:00+05:30,3715.677805,4057.674688,3675.090427,3990.464111,840857,0.0,0.0,LTIM
3,2021-01-06 00:00:00+05:30,4007.519745,4019.116137,3802.650156,3823.813477,597076,0.0,0.0,LTIM
4,2021-01-07 00:00:00+05:30,3863.579929,3893.488912,3739.836706,3752.302734,363617,0.0,0.0,LTIM

In [23]:
df_final_bs_quarterly_consolidation.head(100)

,2023-12-31 00:00:00,2023-09-30 00:00:00,2023-06-30 00:00:00,2023-03-31 00:00:00,2022-12-31 00:00:00,ticker
Treasury Shares Number,2196.0,7915.0,26601.0,16058.0,20195.0,LTIM
Ordinary Shares Number,295971102.0,295905848.0,295861311.0,295806721.0,295778234.0,LTIM
Share Issued,295973298.0,295913763.0,295887912.0,295822779.0,295798429.0,LTIM
Total Debt,16723000000.0,17421000000.0,15786000000.0,15412000000.0,15286000000.0,LTIM
Tangible Book Value,172056000000.0,165311000000.0,166522000000.0,150469000000.0,143139000000.0,LTIM
...,...,...,...,...,...,...
Total Non Current Liabilities Net Minority Interest,NaN,4881930000.0,NaN,5692270000.0,NaN,KPITTECH
Non Current Accrued Expenses,NaN,NaN,NaN,174450000.0,NaN,KPITTECH
Non Current Deferred Revenue,NaN,NaN,NaN,0.0,NaN,KPITTECH
Non Current Deferred Taxes Liabilities,NaN,698940000.0,NaN,600120000.0,NaN,KPITTECH
Long Term Debt And Capital Lease Obligation,NaN,2056370000.0,NaN,1866540000.0,NaN,KPITTECH

In [24]:
df_final_bs_yearly_consolidation.head()

,2023-03-31 00:00:00,2022-03-31 00:00:00,2021-03-31 00:00:00,2020-03-31 00:00:00,ticker
Treasury Shares Number,16058.0,NaN,NaN,NaN,LTIM
Ordinary Shares Number,295806721.0,175270156.0,174750608.0,174126769.0,LTIM
Share Issued,295822779.0,175270156.0,174750608.0,174126769.0,LTIM
Total Debt,15412000000.0,13911000000.0,7983000000.0,9119000000.0,LTIM
Tangible Book Value,150469000000.0,128011000000.0,63793000000.0,46356000000.0,LTIM

In [30]:
# username	postgres
# password	nse_project
# url / host	jdbc:postgresql://localhost:5432/postgres
# port no	5432
# dbname	postgres

import psycopg2

# connecting to a postgre sql local
try:
    connection = psycopg2.connect(
        dbname="postgres",
        user="postgres",
        password="nse_project",
        host="localhost",
        port="5432"
    )
    print("Connected to database!")
except psycopg2.Error as e:
    print("Unable to connect to database:", e)

Connected to database!

In [31]:
try:
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM testing.dim_nse_company_list;")
    rows = cursor.fetchall()
    for row in rows:
        print(row)
except psycopg2.Error as e:
    print("Error executing SQL query:", e)
finally:
    if cursor:
        cursor.close()

('LTIM', 'LTIMINDTREE LTD', 'Commercial Services', 'Miscellaneous Commercial Services', 'NSE', 'LTIM.NS')
('KPITTECH', 'KPIT TECHNOLOGIES', 'Technology Services', 'Packaged Software', 'NSE', 'KPITTECH.NS')
('HDFC', 'HOUSING DEVEL FIN', 'Finance', 'Finance/Rental/Leasing', 'NSE', 'HDFC.NS')
('APOLLOHOSP', 'APOLLO HOSPITALS.', 'Health Services', 'Hospital/Nursing Management', 'NSE', 'APOLLOHOSP.NS')
('DMART', 'AVENUE SUPERMARTS', 'Retail Trade', 'Specialty Stores', 'NSE', 'DMART.NS')