In [1]:
import stock_object 
import stock_price_extraction as spe
import balance_sheet_extraction as ble 
import income_statement_extraction as ise
import share_holders_extraction as she
import cashflow_extraction as ce
import warnings
import pandas as pd
from utility_methods import Utility as u
warnings.filterwarnings('ignore')

C:\Users\shiva.reddy\AppData\Roaming\Python\Python310\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [2]:
nse_company_file = 'C:\\Users\\shiva.reddy\\Personal_Projects\\NSE_Analysis\\NSE_Analysis\\NSE_Project\Input\\NSE_Listed_Companies_SectorWise_Sample.csv'
df_nse = pd.read_csv(nse_company_file,sep='~')
df_nse =  df_nse.head(3)
df_nse.head()

,Ticker,Description,Sector,Industry,Exchange,nse_ticker
0,LTIM,LTIMINDTREE LTD,Commercial Services,Miscellaneous Commercial Services,NSE,LTIM.NS
1,KPITTECH,KPIT TECHNOLOGIES,Technology Services,Packaged Software,NSE,KPITTECH.NS
2,HDFC,HOUSING DEVEL FIN,Finance,Finance/Rental/Leasing,NSE,HDFC.NS

In [3]:
# stores the output dataframes of each companies for later consolidation
balance_sheet_yearly_dfs = []
balance_sheet_quarterly_dfs = []

income_statement_yearly_dfs = []
income_statement_quarterly_dfs = []

cashflow_yearly_dfs = []
cashflow_quartely_dfs = []

price_history_dfs = []

for index,row in df_nse.iterrows():
    ticker = row['Ticker']
    print('Company : ',ticker)
    stock = stock_object.Stock(row['nse_ticker'])
    stock_obj = stock.getStockObject()
    
    # price history 
    stock_price_obj = spe.StockPriceExtraction(stock_obj , ticker)
    df_stock_price_company_wise = stock_price_obj.getPriceHistory()
    
    
    # balance statement yearly
    balance_sheet_obj =  ble.BalanceSheetExtraction(stock_obj)
    df_balance_sheet_yearly =  balance_sheet_obj.getBalanceSheetYearly()
    df_balance_sheet_yearly =  u.getTransposedMatrix(df_balance_sheet_yearly)
    df_balance_sheet_yearly= u.setTickerField(df_balance_sheet_yearly,ticker)
    
    # balance statement quarterly
    df_balance_sheet_quartely = balance_sheet_obj.getBalanceSheetQuarterly()
    df_balance_sheet_quartely = u.getTransposedMatrix(df_balance_sheet_quartely)
    df_balance_sheet_quartely=u.setTickerField(df_balance_sheet_quartely,ticker)
    
    # income statement yearly
    income_stmt_obj =  ise.IncomeStatementExtraction(stock_obj)
    df_income_stmt_yearly = income_stmt_obj.getIncomeStatementYearly()
    df_income_stmt_yearly = u.getTransposedMatrix(df_income_stmt_yearly)
    df_income_stmt_yearly=u.setTickerField(df_income_stmt_yearly,ticker)
    
    # income stmt quarterly
    df_income_stmt_quarterly = income_stmt_obj.getIncomeStatementQuarterly()
    df_income_stmt_quarterly =  u.getTransposedMatrix(df_income_stmt_quarterly)
    df_income_stmt_quarterly=u.setTickerField(df_income_stmt_quarterly,ticker)
    
    # cashflow statements yearly
    cashflow_obj = ce.CashFlowExtraction(stock_obj)
    df_cashflow_yearly = cashflow_obj.getCashFlowYearly()
    df_cashflow_yearly = u.getTransposedMatrix(df_cashflow_yearly)
    df_cashflow_yearly=u.setTickerField(df_cashflow_yearly,ticker)
    
    # cashflow stmt quarterly
    df_cashflow_quarterly = income_stmt_obj.getIncomeStatementQuarterly()
    df_cashflow_quarterly = u.getTransposedMatrix(df_cashflow_quarterly)
    df_cashflow_quarterly= u.setTickerField(df_cashflow_quarterly,ticker)
    
    
    # list of dataframe objects for later consolidation to single df
    price_history_dfs.append(df_stock_price_company_wise)
    balance_sheet_yearly_dfs.append(df_balance_sheet_yearly)
    balance_sheet_quarterly_dfs.append(df_balance_sheet_quartely)
    
    income_statement_yearly_dfs.append(df_income_stmt_yearly)
    income_statement_quarterly_dfs.append(df_income_stmt_quarterly)

    cashflow_yearly_dfs.append(df_cashflow_yearly)
    cashflow_quartely_dfs.append(df_cashflow_quarterly)

Company :  LTIM
Company :  KPITTECH
Company :  HDFC

NameError: name 'df' is not defined

In [7]:
df_stock_prices_consolidated = u.consolidate(price_history_dfs)
df_balance_sheets_yearly_consolidated = u.consolidate(balance_sheet_yearly_dfs)
df_balance_sheets_quarterly_consolidated = u.consolidate(balance_sheet_quarterly_dfs)

In [8]:
df_balance_sheets_yearly_consolidated.head()

,index,Treasury Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,...,Finished Goods,Work In Process,Raw Materials,Net Debt,Derivative Product Liabilities,Investments And Advances,Trading Securities,Investmentsin Associatesat Cost,Investment Properties,Receivables
0,2023-03-31,16058.0,295806721.0,295822779.0,15412000000.0,150469000000.0,167174000000.0,117032000000.0,150469000000.0,14159000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-31,NaN,175270156.0,175270156.0,13911000000.0,128011000000.0,143391000000.0,98463000000.0,128011000000.0,13392000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-31,NaN,174750608.0,174750608.0,7983000000.0,63793000000.0,73448000000.0,54990000000.0,63793000000.0,7569000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023-03-31,3797418.0,270346390.0,274143808.0,2865260000.0,4140420000.0,17007480000.0,3335180000.0,4140420000.0,2373160000.0,...,155420000.0,99000000.0,333080000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-31,4127233.0,270016575.0,274143808.0,2272260000.0,11127240000.0,13121470000.0,8065000000.0,11127240000.0,2246460000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
balance_sheet_yearly_dfs[1]

,index,Treasury Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,...,Other Receivables,Accounts Receivable,Allowance For Doubtful Accounts Receivable,Gross Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents,Cash Equivalents,Cash Financial,ticker
0,2023-03-31,3797418.0,270346390.0,274143808.0,2865260000.0,4140420000.0,17007480000.0,3335180000.0,4140420000.0,2373160000.0,...,2106310000.0,5924400000.0,-287800000.0,6212200000.0,5877420000.0,1335290000.0,4542130000.0,845940000.0,3696190000.0,KPITTECH
1,2022-03-31,4127233.0,270016575.0,274143808.0,2272260000.0,11127240000.0,13121470000.0,8065000000.0,11127240000.0,2246460000.0,...,998880000.0,3714470000.0,-193790000.0,3908260000.0,10001670000.0,6581040000.0,3420630000.0,325860000.0,3094770000.0,KPITTECH
2,2021-03-31,NaN,274143808.0,274143808.0,2299750000.0,10769660000.0,12099740000.0,7680330000.0,10769660000.0,2268420000.0,...,1087810000.0,3083470000.0,-302180000.0,3385650000.0,8268490000.0,5410790000.0,2857700000.0,313640000.0,2544060000.0,KPITTECH

In [42]:
len(price_history_dfs)

3

In [4]:
df_stock_prices_consolidated = u.consolidate(price_history_dfs)

df_balance_sheets_quarterly_consolidated = dc.consolidate(balance_sheet_quarterly_dfs)

In [5]:
df_balance_sheets_yearly_consolidated = PivotTranspose.getTransposedConsolidated(balance_sheet_yearly_dfs,columns=['LTIM','KPITTECH','HDFC'])

In [7]:
df_balance_sheets_yearly_consolidated

,index,ticker,Treasury Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,...,Finished Goods,Work In Process,Raw Materials,Net Debt,Derivative Product Liabilities,Investments And Advances,Trading Securities,Investmentsin Associatesat Cost,Investment Properties,Receivables
0,2023-03-31,LTIM,16058.0,295806721.0,295822779.0,15412000000.0,150469000000.0,167174000000.0,117032000000.0,150469000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-31,LTIM,NaN,175270156.0,175270156.0,13911000000.0,128011000000.0,143391000000.0,98463000000.0,128011000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-31,LTIM,NaN,174750608.0,174750608.0,7983000000.0,63793000000.0,73448000000.0,54990000000.0,63793000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023-03-31,KPITTECH,3797418.0,270346390.0,274143808.0,2865260000.0,4140420000.0,17007480000.0,3335180000.0,4140420000.0,...,155420000.0,99000000.0,333080000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-31,KPITTECH,4127233.0,270016575.0,274143808.0,2272260000.0,11127240000.0,13121470000.0,8065000000.0,11127240000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-31,KPITTECH,NaN,274143808.0,274143808.0,2299750000.0,10769660000.0,12099740000.0,7680330000.0,10769660000.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023-03-31,HDFC,NaN,1834556588.0,1834556588.0,4303238200000.0,1936051200000.0,6317983000000.0,NaN,1936051200000.0,...,NaN,NaN,NaN,4268609100000.0,58813300000.0,1657908200000.0,NaN,721562800000.0,28193500000.0,3366200000.0
1,2022-03-31,HDFC,NaN,1813028276.0,1813028276.0,3384209700000.0,1717401600000.0,5177285800000.0,NaN,1717401600000.0,...,NaN,NaN,NaN,3351761300000.0,42809300000.0,1227965200000.0,151686900000.0,632074900000.0,27872200000.0,42950400000.0
2,2021-03-31,HDFC,NaN,1803946433.0,1803946433.0,2973275000000.0,1540385400000.0,4536487100000.0,NaN,1540385400000.0,...,NaN,NaN,NaN,2938383300000.0,17167900000.0,1130109800000.0,294073200000.0,553951200000.0,9367700000.0,39117900000.0

In [12]:
df_balance_sheets_yearly_consolidated.columns

Index(['index', 'ticker', 'Treasury Shares Number', 'Ordinary Shares Number',
       'Share Issued', 'Total Debt', 'Tangible Book Value', 'Invested Capital',
       'Working Capital', 'Net Tangible Assets', 'Capital Lease Obligations',
       'Common Stock Equity', 'Total Capitalization',
       'Total Equity Gross Minority Interest', 'Minority Interest',
       'Stockholders Equity', 'Other Equity Interest', 'Retained Earnings',
       'Additional Paid In Capital', 'Capital Stock', 'Common Stock',
       'Total Liabilities Net Minority Interest',
       'Total Non Current Liabilities Net Minority Interest',
       'Other Non Current Liabilities', 'Tradeand Other Payables Non Current',
       'Non Current Deferred Taxes Liabilities',
       'Long Term Debt And Capital Lease Obligation',
       'Long Term Capital Lease Obligation', 'Long Term Provisions',
       'Current Liabilities', 'Other Current Liabilities',
       'Current Debt And Capital Lease Obligation',
       'Current Capital Lease Obligation', 'Current Debt',
       'Pensionand Other Post Retirement Benefit Plans Current',
       'Current Provisions', 'Payables', 'Other Payable', 'Dividends Payable',
       'Total Tax Payable', 'Accounts Payable', 'Total Assets',
       'Total Non Current Assets', 'Other Non Current Assets',
       'Non Current Prepaid Assets', 'Non Current Deferred Assets',
       'Non Current Deferred Taxes Assets', 'Investmentin Financial Assets',
       'Available For Sale Securities', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE',
       'Accumulated Depreciation', 'Gross PPE', 'Construction In Progress',
       'Other Properties', 'Machinery Furniture Equipment',
       'Buildings And Improvements', 'Land And Improvements', 'Properties',
       'Current Assets', 'Other Current Assets', 'Hedging Assets Current',
       'Current Deferred Assets', 'Restricted Cash', 'Prepaid Assets',
       'Inventory', 'Other Receivables', 'Taxes Receivable',
       'Accounts Receivable', 'Allowance For Doubtful Accounts Receivable',
       'Gross Accounts Receivable',
       'Cash Cash Equivalents And Short Term Investments',
       'Other Short Term Investments', 'Cash And Cash Equivalents',
       'Cash Equivalents', 'Cash Financial', 'Non Current Accrued Expenses',
       'Non Current Deferred Revenue', 'Long Term Debt',
       'Financial Assets Designatedas Fair Value Through Profitor Loss Total',
       'Long Term Equity Investment', 'Finished Goods', 'Work In Process',
       'Raw Materials', 'Net Debt', 'Derivative Product Liabilities',
       'Investments And Advances', 'Trading Securities',
       'Investmentsin Associatesat Cost', 'Investment Properties',
       'Receivables'],
      dtype='object')

In [5]:
df_stock_prices_consolidated.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
0,2021-01-01 00:00:00+05:30,3530.135135,3623.196232,3503.125251,3574.877930,285207,0.0,0.0,LTIM
1,2021-01-04 00:00:00+05:30,3604.158760,3778.394362,3584.686343,3716.015625,373949,0.0,0.0,LTIM
2,2021-01-05 00:00:00+05:30,3715.677351,4057.674191,3675.089978,3990.463623,840857,0.0,0.0,LTIM
3,2021-01-06 00:00:00+05:30,4007.520001,4019.116393,3802.650399,3823.813721,597076,0.0,0.0,LTIM
4,2021-01-07 00:00:00+05:30,3863.580181,3893.489165,3739.836950,3752.302979,363617,0.0,0.0,LTIM

In [7]:
df_balance_sheets_yearly_consolidated.ticker.unique()

array(['LTIM', 'KPITTECH', 'HDFC'], dtype=object)

In [12]:
df_balance_sheets_yearly_consolidated.head()

,2023-03-31 00:00:00,2022-03-31 00:00:00,2021-03-31 00:00:00,ticker
Treasury Shares Number,16058.0,NaN,NaN,LTIM
Ordinary Shares Number,295806721.0,175270156.0,174750608.0,LTIM
Share Issued,295822779.0,175270156.0,174750608.0,LTIM
Total Debt,15412000000.0,13911000000.0,7983000000.0,LTIM
Tangible Book Value,150469000000.0,128011000000.0,63793000000.0,LTIM

In [17]:
df_balance_sheets_yearly_consolidated.columns.drop('ticker')

Index([2023-03-31 00:00:00, 2022-03-31 00:00:00, 2021-03-31 00:00:00], dtype='object')

In [27]:
df_balance_sheets_yearly_consolidated.T

,Treasury Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,Common Stock Equity,...,Construction In Progress,Other Properties,Machinery Furniture Equipment,Buildings And Improvements,Land And Improvements,Prepaid Assets,Receivables,Taxes Receivable,Cash And Cash Equivalents,Cash Financial
2023-03-31 00:00:00,16058.0,295806721.0,295822779.0,15412000000.0,150469000000.0,167174000000.0,117032000000.0,150469000000.0,14159000000.0,165921000000.0,...,119000000.0,20189800000.0,6767400000.0,18879700000.0,5102900000.0,19815000000.0,3366200000.0,41631100000.0,34629100000.0,3670600000.0
2022-03-31 00:00:00,NaN,175270156.0,175270156.0,13911000000.0,128011000000.0,143391000000.0,98463000000.0,128011000000.0,13392000000.0,142872000000.0,...,13500000.0,667400000.0,5999400000.0,17487900000.0,4550300000.0,17159200000.0,42950400000.0,32616700000.0,26993000000.0,2020800000.0
2021-03-31 00:00:00,NaN,174750608.0,174750608.0,7983000000.0,63793000000.0,73448000000.0,54990000000.0,63793000000.0,7569000000.0,73034000000.0,...,97600000.0,511700000.0,4537900000.0,14264300000.0,4550300000.0,7427900000.0,39117900000.0,29202800000.0,30977500000.0,3816000000.0
ticker,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,...,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC

In [ ]:
df_balance_sheets_yearly_consolidated.head()

In [14]:
df_balance_sheets_yearly_consolidated.T.reset_index()

,index,Treasury Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,...,Construction In Progress,Other Properties,Machinery Furniture Equipment,Buildings And Improvements,Land And Improvements,Prepaid Assets,Receivables,Taxes Receivable,Cash And Cash Equivalents,Cash Financial
0,2023-03-31 00:00:00,16058.0,295806721.0,295822779.0,15412000000.0,150469000000.0,167174000000.0,117032000000.0,150469000000.0,14159000000.0,...,119000000.0,20189800000.0,6767400000.0,18879700000.0,5102900000.0,19815000000.0,3366200000.0,41631100000.0,34629100000.0,3670600000.0
1,2022-03-31 00:00:00,NaN,175270156.0,175270156.0,13911000000.0,128011000000.0,143391000000.0,98463000000.0,128011000000.0,13392000000.0,...,13500000.0,667400000.0,5999400000.0,17487900000.0,4550300000.0,17159200000.0,42950400000.0,32616700000.0,26993000000.0,2020800000.0
2,2021-03-31 00:00:00,NaN,174750608.0,174750608.0,7983000000.0,63793000000.0,73448000000.0,54990000000.0,63793000000.0,7569000000.0,...,97600000.0,511700000.0,4537900000.0,14264300000.0,4550300000.0,7427900000.0,39117900000.0,29202800000.0,30977500000.0,3816000000.0
3,ticker,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,LTIM,...,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC,HDFC

In [ ]:
df_balance_sheets_yearly_consolidated = df.drop(df.index[df.index == 'ticker'])